- $recent_questions.each do |question|
	%h3 
		%a{ :href => question_path(question.id) } #{question.statement}
	%p
		- if question.comments.count != 0 then
			- question.comments.order(:created_at).limit(10).each do |comment|
				%small #{comment.statement }
	%p
		- if question.answers.count != 0 then
			- question.answers.order(:created_at).last.statement
		- else
			No answers yet. Write yours
