%tr
	%td #{ @user.samaccountname }
	%td #{ @user.created_at.localtime }
	%td
		= form_tag nil, :method => :delete do
			%button.remove-user.btn.btn-danger{ :type => 'button', :data => { :id => @user.id }  }
				%i.fa.fa-minus
