.comment-section.col-xs-12.col-lg-6
	.comment-box
		%form
			.form-group
				%textarea.form-control{ :placeholder => 'Insert your comments', :rows => '3'}
			.form-group
				%button.btn.btn-primary{:type => 'button'} Send Your Comment
