= form_for @issue, { :url => @target_url } do |f|
	- if current_user.admin? then
		.form-gorup
			%label
				Affected User:
			- if controller_name == "issues" && action_name == "new" then
				%select#affected-user.form-control{ :name => 'affected_users[]', :multiple => true, :placeholder => current_user.name }
				%select#affected-user-mail.hide{:name => 'affected_user_mails[]', :type => 'hidden', :multiple => true }
			- else
				%input.form-control{:name => 'affected_user', :value => @issue.affected_user.name, :disabled => true, :type => 'text' }
				%input{ :name => 'affected_user_mail', :value => @issue.affected_user.email, :type => 'hidden'}
	.form-group
		= f.label :description
		= f.text_area :description, { :rows => 15 , :class => 'form-control', :placeholder => 'Describe your issue here' }
	#extra-info-list
		- unless @issue.issue_extra_infos.nil? then
			- @issue.issue_extra_infos.each do |extra_info|
				= render :template => 'issue_extra_infos/form.template',
					:locals => { :random_id => extra_info.id, :extra_info => extra_info }
	- if IssueExtraInfoDetail.all.count > 0 then
		.form-group
			%button#extra-detail-btn.btn.btn-success{ :type => 'button' }
				%i.fa.fa-plus
				Add Details
	%button.btn.btn-primary{ :type => 'submit'} Report
