.answer-section.col-xs-12.col-lg-6
	.answer-box
		%form
			.form-group
				%textarea.form-control{ :rows => '3', :placeholder => 'Type Your Answer Here' }
			.form-group
				%button.btn.btn-primary{ :type => 'button' } Answer
