.row
	.col-xs-12
		.page-header
			%h1 Import Issues
.row#step1
	.col-xs-12
		%h2.page-header 1. Load the CSV...
		%p drop file here
		= form_tag drop_file_import_index_path , :method => :post do
			%span.btn.btn-default.fileinput-button
				%span choose a file
				%input#drop-file{ :type => 'file', :name => 'import-file-field' }
			#drop-zone
.row#step2.hide
	.col-xs-12
		%h2.page-header
			2. Drag the title and drop into the appropriate boxes
			%small All fields are mandatory
		%table#select-header-table.table.table-boardered
			%thead
				%tr
					%th.col-xs-3 Detail
					%th.col-xs-3 Selected
			%tbody
				%tr
					%th Open Date
					%td.droppable.not-set Drop Here
				%tr
					%th Assigned Date
					%td.droppable.not-set Drop Here
				%tr
					%th Closed Date
					%td.droppable.not-set Drop Here
				%tr
					%th Affected Users (email)
					%td.droppable.not-set Drop Here
				%tr
					%th Description
					%td.droppable.not-set Drop Here
.row#step3.hide
	.col-xs-12
		%h2.page-header 3. Click Import!
		= form_tag process_file_import_index_path, :method => :post, :class => 'form-horizontal', :id => 'process-import-form' do
			.form-group
				%label.control-label.col-sm-2 Date Format
				.col-sm-10
					%select.form-control.col-sm-10{ :name => 'date-format'}
						- current_index = -1
						- ImportHelper.supported_date_formats.each do |date_format|
							%option{ :value => current_index += 1 } #{date_format}
			%input#target{ :type => 'hidden', :name => 'target' }
			%input#fire-order{ :type => 'hidden', :name => 'fire-order' }
			%button#start-import-btn.btn.btn-primary{ :type => 'button', :disabled => true } Import!
.row#csv-content.hide
	.col-xs-12
		%h2 CSV Content
		#file-contents
